@model LibApp.Models.ExampleBook

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение</h1>

<h4>Экземпляр книги</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExampleBookId" />
            <div class="form-group">
                <label asp-for="VersionBookId" class="control-label"></label>
                <select asp-for="VersionBookId" class="form-control" asp-items="ViewBag.VersionBookId"></select>
                <span asp-validation-for="VersionBookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
